div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.icon-menu:before {
  content: "\e9bd";
}

ul li {
  visibility:hidden;
}

.main-nav:hover, .main-nav:active{
   height:300px;
 }

.main-nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
  text-align: right;
  padding: 16px;
}

.main-nav img{
  float: right;
  margin-left: 4em;
  padding-top: 2px;
}

@media screen and (min-width: 768px){
ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
}
